#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

body {
  height: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.4s ease;
}

@keyframes float {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-20px) translateX(10px); }
  100% { transform: translateY(0px) translateX(0px); }
}
